langchain
python-dotenv
ipykernel
langchain_community
bs4
langchain-text-splitters
requests
ollama
chromadb
chroma-migrate
faiss-cpu
langchain_chroma
langchain_groq
langchain_ollama
spacy
beautifulsoup4
langchain_core